<launch>

  <arg name="disco" default="false"/>
  <arg name="wave" default="false"/>

  <!-- Initialize world, physics, robot model, etc -->
  <include file="$(find sensors_fetch)/launch/playground.launch"/>

  <!-- Launch move group -->
  <include file="$(find fetch_moveit_config)/launch/move_group.launch"/>

  <!-- Start Perception -->
  <node name="basic_grasping_perception" pkg="simple_grasping" type="basic_grasping_perception" >
    <rosparam command="load" file="$(find fetch_gazebo_demo)/config/simple_grasping.yaml" />
  </node>

 <!-- Start navigation -->
  <include file="$(find fetch_gazebo_demo)/launch/fetch_nav.launch" />

  
  <!-- Scripts that will actually make the robot do something (optional) -->
  <group if="$(arg disco)">
    <node pkg="sensors_fetch" type="disco.py" name="simple_disco_demo"/>
  </group>

  <group if="$(arg wave)">
    <node pkg="sensors_fetch" type="wave.py" name="simple_wave_demo"/>
  </group>


  <node pkg="sensors_fetch" type="robot_manual_control.py" name="robot_manual_control"/>
  <!-- <node pkg="sensors_fetch" type="final_demo.py" name="final_demo"/> -->


  <!-- Simple Task (Joint State) -->
  <!-- <node name="simple_task_joint_state" pkg="sensors_fetch" type="simple_task_joint_state.py" output="screen" /> -->

  <!-- Simple Task (World Coordinate) -->
  <!-- <node name="simple_task_world_coordinate" pkg="sensors_fetch" type="simple_task_world_coordinate.py" output="screen" /> -->



  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find fetch_navigation)/config/navigation.rviz" /> -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find sensors_fetch)/configs/fetch.rviz"/> -->

</launch>